section.about
    .container
        +title-with-bottom-line("Наши главные приоритеты","Мы работаем на результат, которым можно гордиться!")

        ul.about__list
            li.about__item
                .icon.icon-client
                h3.about__header Клиент
                p.about__description Для нас очень важно понять заказчика, узнать его предпочтения, интересы. </br>Это очень важно для определения стиля и атмосферы помещений, которые будут домом для нашего клиента.

            li.about__item
                .icon.icon-idea
                h3.about__header Созидание
                p.about__description Это творчество, магия, компиляция знаний, технологий, инженерной и дизайнерской мысли. Нет мелочей, каждая деталь - результат осмысливания конкретной задачи.

            li.about__item
                .icon.icon-winer
                h3.about__header Результат
                p.about__description Любой проект мы пропускаем через себя, вынашиваем каждое решение, наша цель создавать проекты, которыми можно годиться, печатая их в престижных журналах по интерьеру. 