section.approach
    .container
        +title-with-bottom-line("Этапы проекта","Шаг за шагом, сремясь к совершенству!") 

        ul.approach__list
            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-1.jpg" alt="picture")
                    .approach__step этап
                .approach__text
                    .approach__title ТЕХНИЧЕСКОЕ ЗАДАНИЕ
                    p.approach__description.
                        1-Анкетирование
                        Приоритеты в зонировании помещений
                        Стилевое  и цветовое решение 
                        Желаемое техническое оборудование для помещений
                        Пожелания членов семьи
                        2-Изучение технической документации перед  проектом
                        3-Обмерный план
                        4-Фотофиксация
                        На основании собранной информации предоставляем планировочное решение, референсы и коллажи для утверждения концепции дизайна. 

            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-1.jpg" alt="picture")
                    .approach__step этап
                .approach__text
                    .approach__title 3D ВИЗУАЛИЗАЦИЯ
                    p.approach__description.
                        Большинство людей не могут представить,  каким будет дизайн их дома или квартиры.  
                        В помощь приходит 3D визуализация. На каждое помещение мы создаём  2-4 ракурса. 
                        Мы выдаём эти виды также и команде строителей,  что очень помогает в правильной реализации дизайна. 

            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-1.jpg" alt="picture")
                    .approach__step этап
                .approach__text
                    .approach__title ПРОЕКТНАЯ ДОКУМЕНТАЦИЯ
                    p.approach__description.
                        Разработка  чертежей рабочего проекта в состав которого входят:
                        демонтаж/монтаж перегородок, расстановка мебели, размещение сантехнического оборудования, 
                        размещение теплых полов, установка отопительного оборудования, 
                        план потолков, размещения осветительного оборудования, размещения электро-установочного оборудования (розетки, выключатели),
                        кондиционирования, дверных и оконных проемов, развертки стен, архитектурно-декоративные элементы или узлы и др.

            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-1.jpg" alt="picture")
                    .approach__step этап
                .approach__text
                    .approach__title КОМПЛЕКТАЦИЯ
                    p.approach__description.
                        Комплектация – это процесс подбора и заказа чистовых материалов, оборудования, мебели и индивидуальных позиций в соответствии с дизайн-проектом и утвержденным бюджетом.
                        В объем услуг по комплектации объекта входят следующее:
                        — Подбор материалов, мебели, сантехники, текстиля, предметов декора.
                        — Проверка наличия, сроков и условий поставки материалов и оборудования у конкретных поставщиков.
                        — Выбор поставщиков.
                        — Выбор производителей индивидуальных позиций.
                        — Сопровождение и консультации при выборе позиций и заказе.
                        —  Согласование и сверка артикулов деталей, комплектности.
                        — Сверка и утверждение формы деталей и цветов.
                        — Производство расчетов необходимого количества материалов и оборудования.
                        — Замена снятых с производства позиций без нарушения дизайна.
                        — Рекомендации по уходу и эксплуатации отдельных позиций.
                        — Выезд в магазин или шоу-рум  для выбора заказных позиций.
                        — Консультирование по вопросам закупок.

            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-1.jpg" alt="picture")
                    .approach__step этап
                .approach__text
                    .approach__title АВТОРСКИЙ НАДЗОР
                    p.approach__description.
                        Авторский надзор включает еженедельные выезды дизайнера на объект и ведение 
                        процесса чёткой реализации дизайн-проекта.  Авторский надзор необходим для  
                        контроля соответствия  работ строителей согласованному рабочему проекту, для 
                        ответов на вопросы подрядчиков по проекту, для внесения  необходимых изменений 
                        в связи с открывшимися в процессе стройки новыми обстоятельствами. Даже самый 
                        идеально спроектированный дизайн-проект может не реализоваться должным образом 
                        без контроля качества выполняемых работ. Поэтому эта услуга очень важна -  
                        сэкономит ваше время, деньги и, прежде всего, нервы.
