a.contact(href="tel:+380674342418") 
    i.fas.fa-mobile-alt.contact__icon 
    span.contact__text (067) 434 2418
a.contact(href="mailto:mc.designburo@gmail.com" target="_blank") 
    i.fas.fa-envelope.contact__icon.contact__email  
    span.contact__text mc.designburo@gmail.com
a.contact(href="https://www.facebook.com/MondoCasaID/" target="_blank") 
    i.fab.fa-facebook-square.contact__icon.contact__fb  
    span.contact__text MondoCasaID
a.contact(href="https://www.instagram.com/mondocasa_interiors/" target="_blank") 
    i.fab.fa-instagram.contact__icon.contact__inst  