header.header
    .header__top
        .container  
            .contacts
                include contact  
    .container                                                                                                                                                                                                             
        .header__bottom
            .logo: img.logo__picture(src="images/logo_mc.svg" alt="picture")
            include nav
            a.button.header__button.button--blue(href="#") Бесплатная консультация
        