section.hero
    .hero__about Ваш Стильный Дом
    h1.hero__title ДИЗАЙН ИНТЕРЬЕРА ДЕКОРИРОВАНИЕ КОМПЛЕКТАЦИЯ
    a.button.button--yellow.button--text-uppercase(href="#") Бесплатная консультация
    