@font-face {
    font-family: "caviar-dreams";
    src: url("../fonts/CaviarDreams.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "caviar-dreams";
    src: url("../fonts/CaviarDreams_Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "helvatica-neue";
    src: url("../fonts/helvetica-neue-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "helvetica-neue";
    src: url("../fonts/helvetica-neue-light.woff") format("woff");
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: "helvetica-neue";
    src: url("../fonts/helvetica-neue-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }